root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.{ts,tsx,js,jsx,json,yaml,yml,css,html}]
indent_size = 2

[*.{csproj,props,targets,slnx}]
indent_size = 2

[*.cs]
# C# coding style
csharp_style_namespace_declarations = file_scoped:warning
csharp_prefer_simple_using_statement = true:suggestion
csharp_style_prefer_primary_constructors = true:suggestion
csharp_style_expression_bodied_methods = when_on_single_line:suggestion
csharp_style_expression_bodied_properties = when_on_single_line:suggestion
dotnet_style_qualification_for_field = false:warning
dotnet_style_qualification_for_property = false:warning
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = false

[*.md]
trim_trailing_whitespace = false
